<h1>original</h1>
<p><img src="hcandersen.jpg"></p>

<h1>width=300</h1>
<p><img src="hcandersen.jpg" width="300"></p>

<h1>height=200</h1>
<p><img src="hcandersen.jpg" height="200"></p>

<h1>width=300, height=100</h1>
<p><img src="hcandersen.jpg" width="300" height="100"></p>
