@bodyBackground: #A0B2C6;
@border: 1px solid #666;
@headerBackground: #7590AE;
@containerWidth: 600px;
@spacing: 20px;
@boxShadow: 0px 0px 5px rgba(0,0,0,0.5);
@textColour: #000;

// Include classes
.boxshadow {
	box-shadow: @boxShadow;
	-moz-box-shadow: @boxShadow;
	-webkit-box-shadow: @boxShadow;
}

// Main body
html, body {
	background-color: @bodyBackground;
	font-family: "PT Sans";
	font-size: 14px;
	color: @textColour;
}

// Tags
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
a {
	// color: lighten(@textColour, 30%);
	// color: mix(#00f, @textColour, 50%);
	color: #00f;
	text-decoration: none;
}
a:hover {
	// color: @textColour;
	color: #00f;
	text-decoration: underline;
}
ul {
	list-style-type: disc;
	list-style-position: inside;
	padding-left: 5px;
}

// Headers
h1, h2, h3 {
	font-weight: bold;
	margin-bottom: @spacing/2;
	margin-top: @spacing/2;
}
h1 {
	font-size: 2em;
	border-bottom: @border;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.1em;
}

// Code
@codeBackground: darken(#fff, 10%);
@codeBorder: 1px dashed darken(@codeBackground, 10%);
code {
	font-family: "Courier New", monospace;
	background-color: @codeBackground;
	border: @codeBorder;
	padding-left: 3px;
	padding-right: 3px;
}
pre {
	padding: 5px;
	border: @codeBorder;
	background-color: @codeBackground;
	code {
		padding: 0;
		border: none;
		background-color: none;
	}
}

// Paragraphs
p {
	margin: @spacing/2 0;
}
p:first-child {
	margin-top: 0;
}
p:last-child {
	margin-bottom: 0;
}

// Iamge inside paragraphs
p img {
	padding: @spacing/5;
	border: 1px solid darken(#fff, 30%);
}

// Layout elements
#header {
	width: 100%;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	padding: @spacing 0 2*@spacing 0;
	background: @headerBackground;
	color: white;
	border-bottom: @border;
}

#container {
	.boxshadow();
	width: @containerWidth - 2*@spacing;
	padding: @spacing @spacing;
	margin: 0 auto;
	background: white;
	border: @border;
	border-top: none;
	margin-top: -@spacing;
}
